<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-init-method="init" default-destroy-method="destroy">
	<!-- <aop:aspectj-autoproxy proxy-target-class="true" /> -->
	
	<!-- 组件扫描范围 -->
	<context:component-scan base-package="org.sxf" />
	
    <!-- 启用mvc注解 -->
	<mvc:annotation-driven />
	
	<!-- 数据源配置 -->
	<bean id="userDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/mydb" />
		<property name="user" value="root" />
		<property name="password" value="" />
	</bean>
	
	<!-- 引用aop配置 	-->
	<import resource="/spring-aop.xml"/>
	
	<!-- 引用数据库配置 	-->
	<import resource="/spring-jdbc.xml"/>
	<import resource="/spring-hibernate.xml"/>
	<!-- 同一个数据源上只能启用一个事务管理器,请注意
		<import resource="/spring-jdbc-transaction.xml"/>
	 -->
	<import resource="/spring-hibernate-transaction.xml"/>
	
</beans>